<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>糯米糖音乐</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div class="wrap">
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="./player_title.png" alt="" />
        <input type="text"placeholder="请输入您要搜索的歌曲" autocomplete="off" v-model="query" @keyup.enter="searchMusic" />
      </div>
      <div class="center_con">
        <div class='song_wrapper'>
          <ul class="song_list">
            <li v-for="item in musicList">
              <a href="javascript:;" @click="playMusic(item.id)"></a> 
              <b>{{ item.name }}</b><!--<b>{{ item.artists[0]["name"] }}</b> -->
              <!--<span v-if="item.mvid!=0" @click="playMV(item.mvid)"><i></i></span>-->
              <span v-if="item.mvid!=0" @click="playMV(item.mvid)">{{ item.artists[0]["name"] }}</span>
            </li>
          </ul>
          <img src="./line.png" class="switch_btn" alt="">
        </div>
   
      <div class="audio_con">
        <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
      </div>
      <div class="video_con" v-show="isShow" style="display: none;">
        <video :src="mvUrl" controls="controls"></video>
        <div class="mask" @click="hide"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>